*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.user-img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
    position: fixed;
    justify-content: center;
    align-items: center;
    margin: 15% 45%;
    
    
}
#photo{
     width: 130px;
    height: 130px;
    border-radius: 50%;
    
    
}
#file{
    display: none;
    
    
    
}
#uploadbtn{
    position: absolute;
    height: 30px;
    width: 30px;
    padding: 6px 6px;
    border-radius: 50%;
    cursor:pointer;
    color: #fff;
    transform: translateX(-90%);
    margin-top: 100px;
    background-color: rgb(173, 172, 172, 0.801);
    box-shadow: 2px 4px 4px rgb(0, 0, 0,0.644);
    
    
}